body{
    font-family: 'Open Sans';
}
nav.navbar.navbar-default {
    border-radius: 0px;
    border: none;
}

.hr {
    height: 2px;
    background: #dcdcdc;
}
#happy {
    padding-bottom: 20px;
}

#happy:hover {
    border-bottom: solid 3px #F0982E;
}

#sad {
    padding-bottom: 20px;
}

#sad:hover {
    border-bottom: solid 3px #518EC7;
}

#turnt-down {
    padding-bottom: 20px;
}

#turnt-down:hover {
    border-bottom: solid 3px #E55855;
}

#inspo-type {
    visibility: hidden;
}

#inspo-content {
    visibility: visible;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#song-pill {
    padding-top: 10px;
    background: linear-gradient(#fbba9a, #e45c87);
    color: #fff;
    border: solid 5px #fff;
}

#video-pill {
    padding-top: 10px;
    background: linear-gradient(#00d2b0, #34b9c1);
    color: #fff;
    border: solid 5px #fff;
}

#quote-pill {
    padding-top: 10px;
    background: linear-gradient(#e323f4, #9f35e4);
    color: #fff;
    border: solid 5px #fff;
}

#happy-quote1 {
    background-image: url('../images/bg/quotebackground1.jpg');
    background-size: cover;
    padding: 50px;
    font-size: 18px;
    color: #fff;
}

#happy-quote2 {
    background-image: url('../images/bg/quotebackground2.jpg');
    background-size: cover;
    padding: 50px;
    font-size: 18px;
    color: #fff;
    margin-top: 40px;
}

#sad-quote1 {
    background-image: url('../images/bg/quotebackground3.jpg');
    background-size: cover;
    padding: 50px;
    font-size: 18px;
    color: #333;
}

#sad-quote2 {
    background-image: url('../images/bg/quotebackground4.jpg');
    background-size: cover;
    padding: 50px;
    font-size: 18px;
    color: #333;
    margin-top: 40px;
}

#sad-quote3 {
    background-image: url('../images/bg/quotebackground5.jpg');
    background-size: cover;
    padding: 50px;
    font-size: 18px;
    color: #fff;
    margin-top: 40px;
}

#turnt-quote1 {
    background-image: url('../images/bg/quotebackground3.jpg');
    background-size: cover;
    padding: 50px;
    font-size: 18px;
    color: #333;
}

#turnt-quote2 {
    background-image: url('../images/bg/quotebackground4.jpg');
    background-size: cover;
    padding: 50px;
    font-size: 18px;
    color: #333;
    margin-top: 40px;
}

footer{
    margin-top: 50px;
    background-color: lightslategray;
    color: #fff;
    padding-top: 15px;
}

/* Animation */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

@-webkit-keyframes bounce {
    from, 20%, 53%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0,-4px,0);
        transform: translate3d(0,-4px,0);
    }
}

@keyframes bounce {
    from, 20%, 53%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0,-4px,0);
        transform: translate3d(0,-4px,0);
    }
}
